<!-- Header Include !-->
<header class="header span-4">
	<div class="logo-title">
		{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png'), "showTplWidget":"0"})|raw}}
		{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
	</div>
	<nav class="nav">
		{{widget('extendednavigation', 'navigationheader', {"align":"left"})|raw}}
	</nav>
	<aside class="aside">
		{{widget('content', 'about-content', {content: '<p>Cras ut hendrerit nunc. Etiam ut viverra lacus. Donec sagittis, nibh ut dapibus convallis, turpis leo scelerisque lectus.</p>', lines: 'all'})|raw}}
		<div class="social">
			{{widget('profile', 'headersocialicons', { 'profileType' : 'socialicons' })|raw}}
		</div>
	</aside>
</header>